.navbar-expand-md {
    justify-content: space-between;
}

.linear-gradient {
    background: linear-gradient(to right, #026FE3, darkcyan);
}

.navbar-brand, .nav-link {
    color: white;
}

.navbar-text {
    margin-right: 30px;
    color:white;
    font-size: 0.9em;
}

header {
    padding: 40px 0 10px 0;
}


input#recherche {
    width: 100%;
    height: 40px;
    padding-left: 30px;
    border: 1px solid black;
    border-radius: 20px;
}

div.choixCategorie {
    display: flex;
    justify-content: space-between;
}

#categorie {
    width: 70%;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
}

.search-btn {
    margin-top: 40px;
    width: 350px;
    height: 100px;
    box-shadow: 5px 5px 5px darkcyan;
}

.loupe {
    position: absolute;
    margin-top: 12px;
    margin-left: 7px;
}

section {
    margin-top: 50px;
}

div.liste-encheres {
    margin-top: 50px;
}

