.navbar-expand-md {
    justify-content: space-between;
/******** Style navbar ********/

.navbar-expand-md .navbar-collapse {
    justify-content: right;
}

.navbar-dark .navbar-text {
    color: white;
}

.linear-gradient {
    background: linear-gradient(to right, #026FE3, darkcyan);
}

.navbar-brand, .nav-link {
.nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-text {
    margin-right: 30px;
    margin-right: 50px;
    font-size: 0.9em;
}


/******** Style header ********/

header {
    padding: 40px 0 10px 0;
}


/******** Style fonction recherche ********/

input#recherche {
    width: 100%;
    height: 40px;
    padding-left: 30px;
    border: 1px solid black;
    border-radius: 20px;
}

div.choixCategorie {
    display: flex;
    justify-content: space-between;
}

#categorie {
    width: 70%;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
}

.search-btn {
    margin-top: 40px;
    width: 350px;
    margin-left: 30px;
    width: 250px;
    height: 100px;
    box-shadow: 5px 5px 5px darkcyan;
}

.loupe {
    position: absolute;
    margin-top: 12px;
    margin-left: 7px;
}


/******** Style liste enchères (cards) ********/

section {
    margin-top: 50px;
}

div.liste-encheres {
    margin-top: 50px;
}

