/******** Style navbar ********/

.navbar-expand-md .navbar-collapse {
    justify-content: right;
}

.navbar-brand {
    padding: 0 0 0 25px;
}

.navbar-dark .navbar-text {
    color: white;
}

.linear-gradient {
    background: linear-gradient(to right, #026FE3, darkcyan);
}

.nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-text {
    margin-right: 50px;
    font-size: 0.9em;
}

/******** Style messages ********/
.green {
    color: green;
}
.red {
    color: red;
}


input#motDePasse {
    margin-bottom: 30px;
}

.connexion {
    margin-bottom: 50px;
}

.btn {
    box-shadow: 5px 5px 5px darkcyan;
}

.btn.connexion {
    width: 150px;
    height: 70px;
    margin-left: 18px;
}

.form-check-input {
    margin-left: -15px;
}

.form-check-label {
    color: darkcyan;
    margin-left: 5px;
}

div#login-column {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;

}

.btn.creer-compte {
    margin-top: 10px;
    padding-top: 40px;
    width: 100%;
    height: 100px;
}