
/******** Style navbar ********/

.navbar-expand-md .navbar-collapse {
    justify-content: right;
}

.navbar-brand {
    padding: 0 0 0 25px;
}

.navbar-dark .navbar-text {
    color: white;
}

.linear-gradient {
    background: linear-gradient(to right, #026FE3, darkcyan);
}

.nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-text {
    margin-right: 50px;
    font-size: 0.9em;
}

/******** Style messages ********/
.green {
    color: green;
}
.red {
    color: red;
}

/******** Style formulaire ********/

section {
    margin-top: 40px;
}

form {
    margin-top: 40px;
}

.btn {
    margin-top: 50px;
    padding: 12px;
    width: 200px;
    height: 50px;
    box-shadow: 5px 5px 5px darkcyan;
}

input.btn-creer {
    float: right;
}





