.navbar-expand-md {
    justify-content: space-between;
    margin-bottom: 40px;
}

.nav-link {
    color: white;
}


.linear-gradient {
    background: linear-gradient(to right, #026FE3, darkcyan);
}

.navbar-text {
    color: white;
    size: 0.8rem;
}

form {
    margin-top: 30px;
}

.btn {
    margin-top: 50px;
    padding: 12px;
    width: 200px;
    height: 50px;
}

input.btn-creer {
    float: right;
}



