<<<<<<< HEAD

.navbar-expand-md .navbar-collapse {
    justify-content: right;
}

.navbar-dark .navbar-text {
    color: white;
=======
>>>>>>> 4fd2ebeefc270b679196c06f384442d20d1daf9d
}

.linear-gradient {
    background: linear-gradient(to right, #026FE3, darkcyan);
<<<<<<< HEAD
}

.nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-text {
    margin-right: 50px;
    font-size: 0.9em;
}

.formulaire {
	margin-top: 20px;
}

=======
>>>>>>> 4fd2ebeefc270b679196c06f384442d20d1daf9d
